@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: rgb(68, 186, 233);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.app {
  margin: 40px;
  text-align: center;
  color: white;
  overflow: hidden;
}
.form {
  width: 100%;
}
.form-text {
  display: block;
  margin: auto;
  padding: 20px;
  width: 95%;
  border-radius: 5px;
  border: none;
  font-size: medium;
}
.form-button {
  margin: 15px 0px;
  padding: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(68, 186, 233);
  transition: all 0.1s;
}
.alert-text {
  margin: 10px;
  font-weight: bolder;
}

.todolist {
  width: 90%;
  margin: 5px auto;
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
}
.single-item:first-child {
  margin-top: 0;
}
.single-item {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
}
.single-item_trash {
  cursor: pointer;
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0,0.9);
  width: 100%;
  height: 100%;
}
.popup {
  padding:20px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 3px solid white;
}
.popup h4 {
  cursor: pointer;
}
